@import '../../styles/variables.css';

.criar-conta-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-criar-conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#voltar{
    width: auto;
    margin: 10px;
    font-size: xx-small;
    border-radius: 100%;
}

.container-criar-conta h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.container-criar-conta-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    gap: 20px;
    width: 40%;
}

.first-form {
    display: flex;
    flex-direction: column;
}

.first-form input {
    margin: 6px 0;
    width: 100%;
    font-size: 22px;
    padding: 12px;
    outline: none;
    background-color: var(--cor-de-fundo);
    border: 1px solid var(--cor-quatro);
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.first-form input:focus{
    border: 1px solid var(--cor-um);
}

.first-form Button{
    margin-top: 20px;
}
