@import '../../styles/variables.css';

.btns{
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid var(--cor-tres);
    transition: 0.5s;
    color: white;
}

.btns:hover{
    cursor: pointer;
}

.first{
    background-color: var(--cor-tres);
}

.first:hover{
    background-color: var(--cor-tres-hover);
}

.second{
    background-color: transparent;
}

.second:hover{
    background-color: var(--cor-de-fundo-hover);
}

.third{
    border: none;
    background-color: var(--cor-cinco);
}

.third:hover{
    background-color: var(--cor-cinco-hover);
}
