@import '../../styles/variables.css';

.criar-conta-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-criar-conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#voltar{
    width: auto;
    margin: 10px;
    font-size: xx-small;
    border-radius: 100%;
}

.container-criar-conta h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.container-criar-conta-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    gap: 20px;
    width: 40%;
}

.criar-conta-form{
    display: flex;
    flex-direction: column;
}

.criar-conta-form input {
    margin: 6px 0;
    width: 100%;
    font-size: 28px;
    padding: 8px;
    outline: none;
    border: 1px solid var(--cor-quatro);
}

.criar-conta-form input:focus{
    border: 1px solid var(--cor-um);
}

.criar-conta-form Button{
    margin-top: 20px;
}
