@import '../../styles/variables.css';

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.loading {
    border: 16px solid rgba(255, 255, 255, 0.1);
    border-top: 16px solid var(--cor-tres);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
